.publication__bar {
    display: flex;
    align-items: center;
    align-content: center;
    margin: 15px 0 15px 0;
}

.publication__bar img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding: 0 5px 0 5px;
}

.publication__image img {
    width: 100%;
    height: 390px;
}

.publication__actions {
    display: flex;
    padding: 3px 0 0 15px;
}

.publication__actions img {
    padding-right: 15px;
}

.publication__actions--save {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.publication__likes {
    margin: 10px 0 5px 15px;
    font-weight: bold;
    font-size: 14px;
}

.publication__title {
    font-size: 14px;
    display: flex;
    margin-left: 15px;
}

.publication__title--profile {
    font-size: 14px;
    font-weight: bold;
}

.publication__comments {
    font-size: 14px;
    display: flex;
    margin: 5px 0 5px 15px;
    color: rgb(142, 140, 140);
}